
.icon-location:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mobile:before { content: '\e802'; } /* '' */
.icon-line-logo:before { content: '\e803'; } /* '' */
.icon-blackberry-brands:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */